@model IEnumerable<HotelManagement.UserInformation>

@{
    ViewBag.Title = "Index";
}
            <h2>Index</h2>

            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Surname)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bday)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Gender)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MaritalStatus)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Phone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserProfile.Username)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Surname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Bday)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Gender)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaritalStatus)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserProfile.Username)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.InformationId)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.InformationId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.InformationId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.InformationId })
                        </td>
                    </tr>
                }

            </table>
